table {
    font-family: Century Gothic, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

h1
{
    text-decoration: underline;
}


input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#fbaaza
{
    width:85px;
    height:66px;
    float:left;
}

select {
    width: 25%;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
body{
     font-family: Century Gothic, sans-serif;
    background-color: #C1FCF7;
}
